@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Team Selector</h1>
    <p>With this application, you will be able to form randomly generated teams.</p>
</div>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Team Selector (Anime Edition)</h5>
    <p class="card-text">This is the first version, so team members are a bit limited.</p>
    <a asp-action="TeamCreator" class="btn btn-primary">Click here to create your team!</a>
  </div>
</div>