@{
    ViewData["Title"] = "TeamCreator";
}
<h1>@ViewData["Title"]</h1>
<h3>Each team will generate a different character from the following animes:<div>

</div> Naruto, Sailor Moon, Jujutsu Kaisen, One Piece, Death Note and Code Geass</h3>

<body>
    <div class="row row-cols-1 row-cols-sm-2 g-3">
  <div class="col">
    <div class="card">
      <img src="assets/images/bs-images/img-2x1.png" class="card-img-top" alt="card-grid-image">
      <div class="card-body">
        <h5 class="card-title">Create Your Team</h5>
        <p class="card-text">First and Last Names</p>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
            <label for="floatingTextarea">Enter Names Here</label>
          </div>
        <a href="#" class="btn btn-primary">Generate Team</a>
      </div>
    </div>
  </div>



//right below i need to make a form so there is no page refresh, but the team names are generated down below on the page





    
</body>